{% extends "base.html" %}
{% load static %}
{% block cuerpo %}
<div class="row"><!-- la fila -->
    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4"><!-- columna izquierda -->
        <h1> VENTAS </h1>
    <div class="card"> <!-- targeta -->
        <div class="card-body">
            <form action="/registrarVentas/" method="POST"> {% csrf_token %} <!--- formulario -->
            
                <div class="form-group">
                    <input type="number" id="numID_venta" name="numID_venta" class="form-control"
                    value="{{misVentas.ID_venta}}" placeholder="ID de la Venta"  readonlyz required>
                </div>
    
                <div class="form-group py-2">
                    <input type="number" id="numPrecio" name="numPrecio" class="form-control" 
                    value="{{misVentas.Precio}}" placeholder="Precio de la Venta" required>     
                </div>
    
                <div class="form-group py-2">
                    <input type="date" id="datFecha" name="datFecha" class="form-control"
                    value="{{misVentas.Fecha}}" placeholder="Fecha de la compra" required>
                </div>
    
                <div class="form-group py-2">
                    <input type="number" id="numID_Producto" name="numID_Producto" class="form-control"
                    value="{{misVentas.ID_Producto}}" placeholder="ID del producto"  required>
                </div>
    
                <div class="form-group py-2">
                    <input type="number" id="numID_Cliente" name="numID_Cliente" class="form-control"
                    value="{{misVentas.ID_Cliente}}" placeholder="ID del Cliente"  required>
                </div>
    
                <div class="form-group py-2">
                    <input type="number" id="numID_Empleado" name="numID_Empleado" class="form-control"
                    value="{{misVentas.ID_Empleado}}" placeholder="ID del Empleado"  required>
                </div>
    
                <div class="form-group py-2">
                    <input type="number" id="numID_Sucursal" name="numID_Sucursal" class="form-control"
                    value="{{misVentas.ID_Sucursal}}" placeholder="ID de la Sucursal" required>
                </div>
                <div class="form-group py-1">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form><!--- formulario -->
        </div>
    </div> <!-- targeta -->
    </div><!-- columna izquierda -->
    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4"><!-- columna derecha -->
    <h1>Listado de Ventas</h1>
    <img class="w-50" src="{% static  'img/ventas1.jpg' %}" alt="fruteria" width="100" height="auto">
    <div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">ID_Venta</th>
            <th scope="col">Precio</th>
            <th scope="col">Fecha</th>
            <th scope="col">ID_Producto</th>
            <th scope="col">ID_Cliente</th>
            <th scope="col">ID_Empleado</th>
            <th scope="col">ID_Sucursal</th>
            <th colspan="2">EDITAR - BORRAR</th>
        </tr>
        </thead>
        <tbody>
            {% for m in misVentas %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{m.ID_venta}}</td>
                    <td>{{m.Precio}}</td>
                    <td>{{m.Fecha}}</td>
                    <td>{{m.ID_Producto}}</td>
                    <td>{{m.ID_Cliente}}</td>
                    <td>{{m.ID_Empleado}}</td>
                    <td>{{m.ID_Sucursal}}</td>
                    <td> <a href="seleccionarVentas/{{m.ID_venta}}" class="btn btn-info">Editar</a> </td> <!-- Falta link -->
                    <td> <a href="borrarVentas/{{m.ID_venta}}" class="btn btn-danger">Borrar</a> </td>
                </tr>

            {% endfor %}
        </tbody>
    </table>
</div.table.responsive>
    </div> <!-- columna derecha -->
</div><!-- la fila -->



{% endblock %}